
SoundPitch-Vibrations-v1 2/other/splash.mubu
StepSounding/MAX/SoundPitch-Vibrations-v1 2/media/1_piezo.aiff
StepSounding/MAX/SoundPitch-Vibrations-v1 2/media/1_sound.aiff
StepSounding/MAX/SoundPitch-Vibrations-v1 2/other/splash.mubu
