
SoundPitch-Vibrations-v1 2/other/splash.mubu
StepSounding/MAX/SoundPitch-Vibrations-v1 2/media/1_piezo.aiff
StepSounding/MAX/SoundPitch-Vibrations-v1 2/media/1_sound.aiff
StepSounding/MAX/SoundPitch-Vibrations-v1 2/other/splash.mubu
StepSounding/SC/Formación/Tutoriales/Taller Laura Zapata/Supercollider-20221009T082107Z-001.zip
StepSounding/SC/Formación/Tutoriales/Taller Laura Zapata/Supercollider/Bibliografía/Wilson_-Cottle_-Collins-eds.-The-SuperCollider-Book-MIT-Press-_2011_.pdf
